[submodule "xml/libxslt"]
	path = xml/libxslt
	url = git://git.gnome.org/libxslt
[submodule "xml/libxml2"]
	path = xml/libxml2
	url = git://git.gnome.org/libxml2
[submodule "mongrel2"]
	path = mongrel2
	url = https://github.com/zedshaw/mongrel2.git
[submodule "libxml2"]
	path = libxml2
	url = git@github.com:jbussdieker/libxml2
[submodule "oniguruma"]
	path = oniguruma
	url = git@github.com:jbussdieker/oniguruma
